<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>View A 2020</title>
        <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style>
            fieldset{
                background-color: #DCDCDC;
            }
        </style>
        
        <fieldset>
            <center><h1>INI DIA REKOMENDASINYA KAK</h1></center>
        <hr/>
        <center><p style="font-size: 50px; font-family: 'Caveat', cursive; margin: 0px">
        <l th:text="${paketnama}"></l>
        </p></center>
        <br/>
        <center><p style="margin-top: 5px; font-size: 25px">
        <l th:text="${paketlokasi}"></l>
        </p></center>
        <br/>
        <center><img th:src="${msg}" style="width: 450px; height: 450px;"/></center>
        </fieldset>
    </body>
</html>
